html {
  scroll-behavior: smooth;
}

body {
  background: var(--cor-bg-home);
}

body,
ul {
  margin: 0;
  padding: 0;
}

.botao {
  color: var(--cor-1);
  background: var(--cor-bg-botao);
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
  height: 100%;
  justify-content: center;
  line-height: normal;
  max-height: 54px;
  padding: 5px 25px 5px;
  border-radius: 40px;
}

.botao:hover {
  background: var(--cor-bg-menu);
  color: var(--cor-5);
  transition: 0.3s;
}

.captcha-btn .botao {
  margin: 20px;
  font-size: 1.385rem;
}

.footer {
  background: var(--cor-1);
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 20px;
  margin-top: 80px;
}

.text-legal {
  color: #1b1464;
  font-family: arial;
  font-size: 12px;
  line-height: normal;
  text-align: center;
  max-width: 900px;
}

.wrapper {
  overflow-x: hidden;
}

@media (max-width: 800px) {
  .subtitulo {
    font-size: 3rem;
    text-transform: capitalize;
    max-width: initial !important;
  }
}
