@keyframes moveLaterailDir {
  50% {
    top: 100px;
  }
  100% {
    bottom: 140px;
  }
}

@keyframes moveLaterailEsq {
  50% {
    top: 500px;
  }
  100% {
    bottom: 540px;
  }
}

@keyframes moveLaterailEsqPrem {
  50% {
    top: 1240px;
  }
  100% {
    bottom: 1280px;
  }
}

@keyframes moveLaterailDirPrem {
  50% {
    top: 1300px;
  }
  100% {
    bottom: 1360px;
  }
}

#home {
  display: grid;
  justify-content: center;
  padding-top: 95px;
  position: relative;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
}

.lateral-esq {
  position: fixed;
  left: 0px;
  top: 160px;
  z-index: -1;
}

.doce-quadrado {
  position: absolute;
  left: 0px;
  top: 460px;
  z-index: -1;
  animation: moveLaterailEsq 5s ease-in-out 0.4s infinite;
}

.lateral-dir {
  position: fixed;
  right: 0px;
  top: 30px;
  z-index: -1;
}

.doce-marsh {
  position: absolute;
  right: -20px;
  top: 140px;
  z-index: -1;
  animation: moveLaterailDir 5s ease-in-out 0.6s infinite;
}

.img-home {
  padding-bottom: 50px;
}

.como-participar {
  display: flex;
  justify-content: center;
}

.como-part-steps {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
  position: relative;
}

.step1::after {
  content: "";
  position: absolute;
  border: 2px solid rgb(241, 144, 31);
  height: 146px;
  margin-left: 10px;
}

.step3 {
  grid-column: 1/-1;
  padding-left: 30%;
}

.como-part-steps .botao {
  margin-left: 75%;
}

.premios {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.doce-palito {
  position: absolute;
  left: 0px;
  top: 1280px;
  z-index: 1;
  animation: moveLaterailEsqPrem 5s ease-in-out 0.4s infinite;
}

.doce-bala {
  position: absolute;
  right: -20px;
  top: 1360px;
  z-index: 1;
  animation: moveLaterailDirPrem 5s ease-in-out 0.6s infinite;
}

.bg {
  background-image: url(/imgs/premios/bg.onda.webp);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

.prod-participantes {
  display: grid;
  justify-content: center;
}

.prod-participantes a {
  color: var(--cor-1);
  text-transform: none;
  text-decoration: underline;
}

.img-prod {
  padding-top: 20px;
}
