#home {
  display: grid;
  justify-content: center;
  padding-top: 95px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
}

.img-home {
  padding-bottom: 50px;
}

.como-participar {
display: flex;
justify-content: center;
}

.como-part-steps {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
  position: relative;
}

 .step1::after {
  content: "";
  position: absolute;
  border: 2px solid rgb(241, 144, 31);
  height: 146px;
  margin-left: 10px;
 }

 .step3 {
 grid-column: 1/-1;
 padding-left: 30%;
 }

.como-part-steps .botao {
  margin-left: 75%;
}

.premios {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  }

  .bg {
  background-image: url(/imgs/premios/bg.onda.webp);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  }

 .prod-participantes {
  display: grid;
  justify-content: center;
 }

 .prod-participantes a {
  color: var(--cor-1);
  text-transform: none;
  text-decoration: underline;
 }

 .img-prod {
  padding-top: 20px;
 }


